@font-face {
  font-family: 'Gameboy';
  src: url(src/gameboy2.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gameboy', sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
}

header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar .logo {
  color: #fff;
  font-weight: 600;
  font-size: 2.1rem;
  text-decoration: none;
  width: auto;
}

.navbar .menu-links {
  display: flex;
  list-style: none;
  gap: 35px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  transition: 0.2s ease;
  font-size: 1.8rem;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container span:hover {
  color: #b98cc7;
}

.navbar a:hover {
  color: #b98cc7;
}


.hero-section {
  height: 100vh;
  background-image: url("src/background.gif");
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.hero-section .content {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  color: #fff;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.hero-section .content h2 {
  font-size: 4rem;
  max-width: 600px;
  line-height: 70px;
}

.hero-section .content h3 {
  font-size: 2rem;
  max-width: 600px;
  line-height: 70px;
}

.hero-section .content p {
  font-weight: 300;
  max-width: 600px;
  margin-top: 24px;
  font-size: 1.7rem;
}

.hero-section .content button {
  background: #fff;
  padding: 12px 30px;
  border: none;
  font-size: 1.3rem;
  border-radius: 6px;
  margin-top: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}

.hero-section .content button:hover {
  color: #fff;
  background: #b98cc7;
}

#close-menu-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  display: none;
}

#hamburger-btn {
  color: #fff;
  cursor: pointer;
  display: none;
}

@media (max-width: 768px) {
  header {
    padding: 10px;
  }

  header.show-mobile-menu::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
  }

  .navbar .logo {
    font-size: 1.7rem;
  }

  #hamburger-btn, #close-menu-btn {
    display: block;
  }

  .navbar .menu-links {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background: #c8b3d1;
    flex-direction: column;
    padding: 70px 40px 0;
    transition: left 0.2s ease;
  }

  .menu-links img {
    width: 30px;
    border-radius: 30%;
  }

  .material-symbols-outlined img {
    width: 40px;
    border-radius: 30%;
    margin-right: 20px;
  }

  header.show-mobile-menu .navbar .menu-links {
    left: 0;
  }

  .navbar a {
    color: #000;
  }

  .hero-section .content {
    text-align: center;
  }

  .hero-section .content :is(h2, p) {
    max-width: 100%;
  }

  .hero-section .content h2 {
    font-size: 2.3rem;
    line-height: 60px;
  }
  
  .hero-section .content button {
    padding: 9px 18px;
  }
}

/* vision mision pop out */

.question {
  padding: 0.5rem 1rem 1rem 1rem;
  border: 3px solid rgba(4, 217, 255);
  background: rgba(143, 79, 179, 0.4);
  border-radius: 10px;
  margin-bottom: 2rem;
  box-shadow: 2px 2px 20px 1px  rgba(4, 217, 255);
}

.question-btn img {
  width: 60px;
  margin-left: 60px;
  margin-bottom: -30px;
}

.question-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}
.question-title p {
  margin-bottom: 12px;
}
.question-btn {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  color: var(--clr-gold);
  transition: var(--transition);
}

/* flip only if opened */
/* .question-btn:hover {
  transform: rotate(180deg);
} */

.question-text {
  /* padding: 1rem 0 1.5rem 0;
  background: rgba(143, 79, 179, 0.6);
  border-radius: 20px; */
  border-top: 3px solid rgba(4, 217, 255);
}
.question-text p {
  margin-bottom: 0;
}
/* hide text */
.question-text {
  display: none;
}
.show-text .question-text {
  display: block;
}
/* .minus-icon {
  display: none;
}
.show-text .minus-icon {
  display: inline;
}
.show-text .plus-icon {
  display: none;
}  */