@font-face {
  font-family: 'Gameboy';
  src: url(src/gameboy2.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gameboy', sans-serif;
}

header {
  position: fixed;
  width: 100%;
}

header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  background-color: rgba(131,48,255, 0.5);
}

.navbar .logo {
  color: #fff;
  font-size: 2.1rem;
  text-decoration: none;
  width: auto;
  margin-left: -25px;
}

.navbar .menu-links {
  display: flex;
  list-style: none;
  gap: 35px;
  margin-right: 40px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  transition: 0.2s ease;
  font-size: 1.8rem;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container .logo{
  transition: 0.2s ease;
}

.logo-container span:hover {
  color: #b98cc7;
}

.navbar a:hover {
  color: #b98cc7;
}

.hero-section {
  height: 100vh;
  background-image: url("src/background.gif");
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 0 0px;
}

.hero-section .content {
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 700px;
  width: 100%;
  color: #fff;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.hero-section .content h1 {
  font-size: 60px;
  line-height: 70px;
	color: white;
  text-shadow: 0px 0px 20px #04D9FF;
}

.hero-section .content h3 {
  font-size: 30px;
}

.hero-section .content p {
  font-weight: 300;
  margin-top: 10px;
  font-size: 20px;
  text-shadow: 0px 0px 10px #04D9FF;
}

.hero-section .content button {
  background: #fff;
  padding: 12px 30px;
  border: none;
  font-size: 1.3rem;
  border-radius: 6px;
  margin-top: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}

.hero-section .content button:hover {
  color: #fff;
  background: #b98cc7;
}

#close-menu-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  display: none;
}

#hamburger-btn {
  color: #fff;
  cursor: pointer;
  display: none;
}

@media (max-width: 768px) {
  header.show-mobile-menu::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
  }

  .navbar .logo {
    font-size: 1.7rem;
  }

  #hamburger-btn, #close-menu-btn {
    display: block;
  }

  .navbar .menu-links {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background: #c8b3d1;
    flex-direction: column;
    padding: 70px 40px 0;
    transition: left 0.2s ease;
  }

  .menu-links img {
    width: 30px;
    border-radius: 30%;
  }

  .material-symbols-outlined img {
    width: 40px;
    border-radius: 30%;
    margin-right: 20px;
  }

  header.show-mobile-menu .navbar .menu-links {
    left: 0;
  }

  .navbar a {
    color: #000;
  }

  .hero-section .content {
    text-align: center;
  }
}

img#start-img {
  box-shadow: 0px 0px 20px 7px  rgba(4, 217, 255, 0.6);
  width: 136px
}

.content .start-btn {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 1rem 0rem 1rem 0rem;
  cursor: pointer;
}
.start-btn img {
  border-radius: 10%;
  margin-top: 5px;
  margin-bottom: 6px;
}

/* vision mision pop out */

.section-center {
  display: flex;
  justify-self: center;
  flex-direction: row;
}

.section-center2 {
  display: flex;
  justify-self: center;
  flex-direction: column;
}

.question {
  /* top, right, bottom, left */
  padding: 0px 29px 0px 10px; 
  border: 3px solid rgba(4, 217, 255, 0.4);
  background: rgba(131,48,255, 0.5);
  border-radius: 10px;
  margin-bottom: 2rem;
  box-shadow: 2px 2px 20px 1px  rgba(4, 217, 255);
  margin-inline: 10px;
}

.question2 {
  /* top, right, bottom, left */
  padding: 0px 10px; 
  border: 3px solid rgba(4, 217, 255, 0.4);
  background: rgba(131,48,255, 0.5);
  border-radius: 10px;
  margin-bottom: 2rem;
  box-shadow: 2px 2px 20px 1px  rgba(4, 217, 255);
  margin-inline: 10px;
}

.question-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3px;
  padding-top: 2px;
}

.question-title p {
  margin-bottom: 1px;
}

.question-btn img {
  width: 20px;
  margin-right: -20px;
  border-radius: 20%;
}

.question-btn {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.question-btn2 {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.question-text {
  border-top: 3px solid rgba(4, 217, 255);
}

.question-text p {
  margin-bottom: 10px;
}

/* hide text */
.question-text {
  display: none;
}

.show-text .question-text {
  display: block;
}

.typeCard {
  display: none;
  height: 200px;
  background-color: #b98cc7;
  width: 200px;
}

#types-container {
  width: 500px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.types-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;
}

.pokeTypeButton {
  width: 229px;
  display: block;
  flex-direction: row;
  cursor: pointer;
  margin: auto;
  border: 5px #fff;
}

.typeLetters img {
  width: 30px;
  margin-right: -2px;
  border-radius: 20%;
}

/* hyra cayambas */
.author img {
  width: 30px;
  margin-right: -8px;
  border-radius: 20%;
}

.author {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-right: 10px;
}

@media (max-width: 430px) {
  .section-center {
    flex-direction: column;
  }
}

/* synergy start */

.content .type-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content .type-icons img {
  width: 1000px;
  height: 1000px;
}

/* glitch fx experiment try lang naman bawal judger

.title {
  animation: glitch 30s linear infinite;
}

@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
} */
